<!doctype html>
<html lang="en">
<head>
    {{> meta}}
    {{> title}}
    {{> styles}}
    {{> html5shiv}}
    {{> analytics}}
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?e12d6d03ce6ea69fb085e36b6e50aaa3";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</head>
<body>

{{{body}}}

{{#localJS}}
<script src="{{{.}}}"></script>
{{/localJS}}

</body>
</html>
