<!doctype html>
<html lang="en">
<head>
    {{> meta}}
    {{> title}}
    {{> styles}}
    {{> html5shiv}}
    {{> analytics}}
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?be4ffc73e4d7fb211113b16f600ee89f";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>

{{{body}}}

{{#localJS}}
<script src="{{{.}}}"></script>
{{/localJS}}

</body>
</html>
